---
---
.banner {
	z-index: 1;
	flex: 0;
	position: relative;
	width: 100%;
	padding-bottom: 30%; // ~height/width
}
#bg-image {
	z-index: 1;
	//background-image: url("{{site.baseurl}}/assets/images/robot_bg.png");
	background-image: url("{{site.baseurl}}/assets/images/abstract_background.png");
	background-repeat:no-repeat;
	background-size:contain;
	width: 100%;
	padding-bottom: 30%; // ~height/width
	position: absolute; 
}

.heading {
	z-index: 1;
	font-size: 3vw;
	color: #aaa;
	font-weight: bold;
	text-transform: uppercase;
	//transform: translateY(50%);
	height: 100%;
	width: 50%;
	position: absolute;
}
	#heading1 {
		opacity: 0;
		height: 100%;
		animation: slide20x 2s ease-out, opacity 2s ease-in;
		animation-fill-mode: forwards;
		animation-delay: 3s;
	}
	#heading2 {
		opacity: 0;
		height: 100%;
		animation: slide35x 2s ease-out, opacity 2s ease-in;
		animation-fill-mode: forwards;
		animation-delay: 6s;
	}
	#heading3 {
		opacity: 0;
		height: 100%;
		animation: slide50x 2s ease-out, opacity 2s ease-in;
		animation-fill-mode: forwards;
		animation-delay: 9s;
	}


@keyframes slide20x {
	0% {transform: translate(40%, 20%);}
	100% {transform: translate(10%, 20%);}
}

@keyframes slide35x {
	0% {transform: translate(50%, 40%);}
	100% {transform: translate(20%, 40%);}
}

@keyframes slide50x {
	0% {transform: translate(60%, 60%);}
	100% {transform: translate(30%, 60%);}
}


@keyframes opacity {
	0% {opacity:0.0;}
	100% {opacity: 1.0;}
}
