---
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    
    <title>title</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    

    <style>
  html, body  { height: 100%; margin: 0; }

  body {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    height: auto;
    min-height: 100vh;

    //background-color: #e6e6e6;
    //background-image: url("https://www.transparenttextures.com/patterns/cardboard-flat.png");

    background-color: #e6e6e6;
    background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
  }

  footer {
    z-index: 999;
    flex: none;
    padding: 10px 0 10px 0;
    background-image: linear-gradient(#2d2d2d, #252525);
    border-top: 1px solid #1a1a1a;  
  }
  .footer-content {
    width: 95%;
    margin: 0 auto;
    align-self: center;
    color: #656565;
    font-size: 16px;
  }
  .page-content {
    flex: 1;
  }


    </style>
    <link rel="stylesheet" href="/header2.css">
  </head>
  <body>

<div class="header-wrapper transparent">
<header>
  <a href="index.html" class="logo">
      <span id="Applied">Applied</span><span id="Photons">Photons</span>
  </a>


  <nav>
    <ul class="navigation" role="navigation">
      <li><a href="{{site.baseurl}}/about.html">About</a></li>
      <li><a href="{{site.baseurl}}/portfolio.html">Portfolio</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#" id="contact-button">Contact</a></li>
    </ul>

  <!-- "Hamburger icon" to toggle the navigation links -->
  <a href="#" class="menu-button" id="menuButton">
    <span class="burger-icon"></span>
  </a>

  </nav>

</header>
</div>
<!--
  <header {% if page.transparent_nav==true %} class=transparent {% endif%}>
    <nav {% if page.transparent_nav==true %} class=transparent {% endif%}>
    <div class="nav-content">
      <a href="index.html" class="nav-left">
          <span id="Applied">Applied</span><span id="Photons">Photons</span>
      </a>
      <div class="nav-right">
        <ul class="navigation" role="navigation">
          <li><a href="{{site.baseurl}}/about.html">About</a></li>
          <li><a href="{{site.baseurl}}/portfolio.html">Portfolio</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#" id="contact-button">Contact</a></li>
        </ul>
      </div>
    </div>
    </nav>
  </header>
-->
  <div class=page-content>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nulla nulla, consequat a mauris ac, commodo eleifend purus. Morbi gravida fermentum aliquet. Cras magna felis, eleifend vel varius a, consectetur id enim. Curabitur sed tellus nisl. Integer nec suscipit felis, in vehicula mauris. Donec et tortor ac sapien lacinia semper. Suspendisse faucibus ligula in neque accumsan, ut interdum odio pharetra. In eget egestas tortor, non tempus arcu. Sed sit amet eros ante. Nullam accumsan est a gravida finibus. Vestibulum sit amet cursus ipsum, ut pulvinar nulla.
<br/><br/>
Sed aliquet lectus ut sodales interdum. Proin mollis, velit nec venenatis tempus, nibh lacus sollicitudin quam, id tempus magna purus ac diam. Cras feugiat velit id ornare imperdiet. Morbi erat nunc, porta nec ligula ac, gravida congue mi. Aenean luctus suscipit arcu, egestas egestas enim vulputate et. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce feugiat porttitor ex, vel interdum sem volutpat at. In hac habitasse platea dictumst. Vestibulum interdum, velit vel tempor gravida, sapien lorem ullamcorper eros, eget blandit lorem ex quis massa. Nulla facilisi. Donec ut facilisis elit. Donec in ligula purus. Vestibulum aliquam a sapien nec tempor.
<br/><br/>
Fusce vitae posuere nunc. Mauris quis augue eu libero pretium blandit sit amet ac eros. Morbi scelerisque ex vitae ligula consequat, quis pretium eros cursus. Phasellus fringilla diam lacus, sed commodo metus gravida ut. Donec ultrices vulputate lobortis. Nullam vel augue nisi. Duis nunc lacus, interdum sit amet magna vitae, rutrum ultrices enim. Suspendisse lorem orci, consectetur vitae posuere et, tincidunt sit amet massa. Suspendisse fermentum scelerisque dolor, eu fringilla justo volutpat ut.
<br/><br/>
Duis tortor ex, ornare vel sagittis nec, convallis a ipsum. Suspendisse dapibus augue non est cursus, eu lobortis sapien ullamcorper. Nullam pulvinar lorem ut elit tempus eleifend. Aenean quis mattis turpis, et convallis tellus. Morbi rhoncus turpis libero, nec consequat nulla congue vitae. Pellentesque non justo id sem vestibulum feugiat sit amet vitae augue. Aliquam elementum metus purus. Nunc egestas ornare lectus nec vulputate. Fusce est magna, tempor eu neque in, porta dapibus quam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas ultrices malesuada mi, non volutpat mauris congue quis. Nunc cursus felis id lacus egestas, quis consequat mi vestibulum. Nulla mauris odio, condimentum ut tincidunt nec, vestibulum a nisl. Suspendisse quis nulla euismod, mattis enim dignissim, ornare eros. Duis hendrerit mi eget magna sollicitudin, sit amet viverra odio iaculis.
<br/><br/>
Maecenas vitae quam non mi vestibulum egestas et id dui. Nullam facilisis metus nec ligula iaculis consequat ut eu diam. Mauris sed justo sed neque lobortis placerat a a lorem. Duis vel turpis id ligula maximus semper ac at nibh. Maecenas tristique mauris nunc, eget fermentum mi volutpat at. Aliquam suscipit, arcu in mollis sagittis, tellus lorem aliquam dolor, eu rutrum turpis eros eu justo. Integer augue ipsum, varius vel imperdiet in, lobortis quis urna. In quis tempor quam, quis ornare tortor. Integer enim ex, aliquet sit amet tellus quis, lacinia tempus ex. Donec sed arcu dictum, dapibus mi eget, aliquet justo. Sed urna ipsum, volutpat in dui vitae, consequat bibendum sem. Nullam mattis justo nec augue placerat, et laoreet diam finibus. Donec vitae magna vehicula, posuere massa ac, tincidunt diam. Curabitur vitae rutrum dui, et pulvinar neque. Donec auctor quam eget ligula imperdiet convallis vitae quis nibh.
<br/><br/>
Duis tortor ex, ornare vel sagittis nec, convallis a ipsum. Suspendisse dapibus augue non est cursus, eu lobortis sapien ullamcorper. Nullam pulvinar lorem ut elit tempus eleifend. Aenean quis mattis turpis, et convallis tellus. Morbi rhoncus turpis libero, nec consequat nulla congue vitae. Pellentesque non justo id sem vestibulum feugiat sit amet vitae augue. Aliquam elementum metus purus. Nunc egestas ornare lectus nec vulputate. Fusce est magna, tempor eu neque in, porta dapibus quam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas ultrices malesuada mi, non volutpat mauris congue quis. Nunc cursus felis id lacus egestas, quis consequat mi vestibulum. Nulla mauris odio, condimentum ut tincidunt nec, vestibulum a nisl. Suspendisse quis nulla euismod, mattis enim dignissim, ornare eros. Duis hendrerit mi eget magna sollicitudin, sit amet viverra odio iaculis.
<br/><br/>
Maecenas vitae quam non mi vestibulum egestas et id dui. Nullam facilisis metus nec ligula iaculis consequat ut eu diam. Mauris sed justo sed neque lobortis placerat a a lorem. Duis vel turpis id ligula maximus semper ac at nibh. Maecenas tristique mauris nunc, eget fermentum mi volutpat at. Aliquam suscipit, arcu in mollis sagittis, tellus lorem aliquam dolor, eu rutrum turpis eros eu justo. Integer augue ipsum, varius vel imperdiet in, lobortis quis urna. In quis tempor quam, quis ornare tortor. Integer enim ex, aliquet sit amet tellus quis, lacinia tempus ex. Donec sed arcu dictum, dapibus mi eget, aliquet justo. Sed urna ipsum, volutpat in dui vitae, consequat bibendum sem. Nullam mattis justo nec augue placerat, et laoreet diam finibus. Donec vitae magna vehicula, posuere massa ac, tincidunt diam. Curabitur vitae rutrum dui, et pulvinar neque. Donec auctor quam eget ligula imperdiet convallis vitae quis nibh.
  </div>
    <footer> this is my footer </footer>

<script>
    /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger icon */
    /*
    function toggleMenu() {
      console.log('toggle')
      var x = document.getElementsByClassName("navigation")[0];
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
  */

  window.addEventListener('load', function() {
      var scrollThresh = 80;
      var classSelector = document.querySelector(".header-wrapper").classList;

      // Set up hamburger menu icon animation
      var menuButton = document.getElementById('menuButton');
      menuButton.addEventListener('click', function (e) {
        menuButton.classList.toggle('is-active');
        e.preventDefault();

        var navMenu = document.getElementsByClassName("navigation")[0];
        navMenu.classList.toggle('visible');
      });

      // Set up navbar shrink when scrolling
      function navbar_shrink() {
        if (document.documentElement.scrollTop > scrollThresh) { 
          classSelector.add("shrink");
        } else { 
          classSelector.remove("shrink"); 
        }
      }
      window.onscroll = navbar_shrink;
    
    // Housekeeping items to run on page load
    navbar_shrink();
  });

  </script>

  </body>
</html>
