---
layout: default
title: Portfolio
css: assets/css/portfolio.css

CategoryA:
- title: Hyperspectral surgical microscope
  description: When surgeons remove a brain tumor, finding the boundary between diseased and healthy brain tissue may be difficult with the naked eye. In this project we equip a surgical microscope with a hyperspectral camera to precisely map a tumor's shape and give surgeons a window to an otherwise invisible target.
  link: /portfolio/hyperspectral/hyperspectral.html
  img: /assets/images/microscope_crop_darken.jpg
  alt: hyperspectral imaging
  
- title: Autonomous surgical robotics
  description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent viverra et ipsum nec lacinia. Cras sodales pellentesque diam, at egestas est efficitur nec.
  img: /assets/images/star_robot.jpg
  alt: STAR robot

- title: Laser speckle contrast imaging
  description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent viverra et ipsum nec lacinia. Cras sodales pellentesque diam, at egestas est efficitur nec.
  img: /assets/images/laser_speckle_sharp.png
  alt: laser speckle contrast imaging

- title: Polarimetric imaging
  description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent viverra et ipsum nec lacinia. Cras sodales pellentesque diam, at egestas est efficitur nec.
  img: /assets/images/polarimetric.png
  alt: polarimetric imaging

- title: Depth-from-defocus 3D imaging
  description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent viverra et ipsum nec lacinia. Cras sodales pellentesque diam, at egestas est efficitur nec.
  img: /assets/images/3d_hardware.jpg
  alt: 3D imaging

- title: Synethetic rendered ML datasets
  description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent viverra et ipsum nec lacinia. Cras sodales pellentesque diam, at egestas est efficitur nec.
  img: /assets/images/ray_traced.png
  alt: Synthetic datasets
---

<div class="content">
	<div class="heading">Portfolio</div>
	<div class="grid">
		{% for article in page.CategoryA %}
			<article>
				 	<!-- <div class="scrim-gradient"></div> -->
				 	<img src="{{site.baseurl}}{{ article.img }}" alt="{{ article.alt }}">
					<!-- <img src="{{site.baseurl}}/assets/images/lena.png" alt="{{ article.alt }}"> -->
					<div class="card">
						<div class="title">{{site.baseurl}}{{ article.title }}</div>
						<div class="description">{{ article.description }}</div>
						{% if article.link %}
					 		<div class="button"><a href={{ article.link }}>Learn more</a></div>
					 	{% endif %}
					</div>
			</article>
		{% endfor %}
	</div>
</div>