// Allow banner picture to "go through" nav bar (for transparent nav bars)
header.transparent + .page-content {
	padding-top: 0;
}

header {
	width: 100%;
	position: fixed; top: 0;
	z-index: 999;
}

%solid-nav {
	backdrop-filter: blur(2px);
	transition: all 0.3s;
	background-color: rgba(200,200,200,0.9);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
	#Applied {
		color: #0d2b3f;
		font-weight: 900;
	}
	#Photons {
		color: #091d2a;
	}
	.navigation > li > a {
		color: #091d2a;
		&:hover {
			color: #57a6db;
		}
	}	
}


nav:not(.transparent) {
	@extend %solid-nav;
}

nav {
	z-index: 999;
	transition: all 0.3s;
	border-bottom: 1px solid rgba(255, 255, 255, 0.20);
	box-shadow: none;
	background-color: rgba(200,200,200,0);
}

nav.shrink {
	@extend %solid-nav;
	.nav-content {
		height: 45px;
	}
	.nav-left {
		font-size: 25px;
	}
	.navigation > li > a {
		font-size: 13px;
	}

}



#Applied {
	color: #d5e9f6;

}
#Photons {
	color: #abd3ed;
}

.nav-content {
	width: 95%;
	height: 60px;
	margin: 0 auto;
	flex: 0;
	transition: all 0.3s;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	
	.nav-left {
		font-size: 32px;  // Defined in JS
		//padding: 8px 0;   // Defined in JS
		//color: #d5e9f6;   // Defined in JS
		text-align: center;
		transition: all 0.3s;	
		text-decoration: none;
	}

	.nav-right {
		display: flex;
		align-items: center;
		align-self: center;
		text-align: center;
		padding: 0 20px 0 0;
		height: 80%;
	}
	ul {
		display: flex;
		//display: flex;
		text-align: center;
		align-items: center;
		align-self: stretch;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		display: flex;
		align-items: center;
		align-self: stretch;
		text-align: center;
		//border-bottom: 2px solid transparent;

		a {
			font-size: 16px;  // Defined in JS
			color: #d5e9f6;   // Defined in JS

			margin: 0px 8px;
			padding: 0px 8px;
			font-weight: bold;

			display: flex;
			align-items: center;
			align-self: stretch;
			text-align: center;
			//color: #6A696A;
			//color: #a2ceea;
			//color: change-color(#a2ceea, $lightness: 80%);
			//color: #091d2a;
			text-decoration: none;
			height:100%;
			transition: all 0.3s;
		}
		a:hover {
			//background-color: rgba(0,0,0,0); // Fallback for IE
			//background-color: var(--background-color);
			//color: white;
			color: #57a6db;
			transition: all 0.15s ease-in-out 0s;
			//border-bottom: 2px solid rgba(128,128,128,0.5);
			
		}
	}
	button {
		display: inline;
		padding: 9px 25px;
		border-radius: 50px;
	}

}

#contact-button {
	border: 0.5px solid white;
	border-radius: 5px;
}
