%heading-common {
	display: flex;
	flex-direction: row;
	align-items: center;

	margin: 0;
	color: #444;
	
	&:after {
		content:'';
		flex: 1;
		margin-left: 20px;
	}
}
.heading {
	@extend %heading-common;

	font-size: 1.5rem;
	font-weight: bold;

	&:after {
		border-bottom: 2px solid #444;
		transform: translateY(3px);
	}
}

.subheading {
	@extend %heading-common;

	font-size: 1.0rem;
	font-weight: regular;

	&:after {
		border-bottom: 1px solid #444;
		transform: translateY(1px);
	}
	
}