html, body  { height: 100%; margin: 0; }

body {
	display: flex;
	flex-direction: column;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	height: auto;
	min-height: 100vh;

	//background-color: #e6e6e6;
	//background-image: url("https://www.transparenttextures.com/patterns/cardboard-flat.png");

	background-color: #e6e6e6;
	background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
}


.page-content {
//padding-top: 60px;

//	background-color: blue;
	flex: 1;
//	max-width: 75rem;
//	width: 90%;
//	align-self: center;
}




