section.content-section {
	display: grid;

	&.fill-color {
		background-color: #4c6fe7;
		color: white;
	}

	@media (min-width: 481px) {
		grid-auto-flow: column;
		grid-auto-columns: 1fr;
	}

	> *:nth-of-type(1) {
	}
	> *:nth-of-type(1).text-on-left {
		align-self:center;
		justify-self: end;
		padding-right: 4vw;
	}
	> *:nth-of-type(1).text-on-right {
		align-self:center;
		justify-self: start;
		padding-left: 4vw;
	}

	> *:nth-of-type(2) {
	}

	img {
		width:100%;
        height:100%;
        object-fit:cover;	
	}

	.text {
		max-width: 360px;

		@media only screen and (max-width: 480px) {
			padding: 30px;
			max-width: auto;
		}
	}
	.text h2 {

		line-height: 1.2;
		margin-bottom: 30px;
		margin-top: 0;
		// font-family: 'Yrsa',serif;
		font-family: 'Open Sans', sans-serif;
		// font-family: 'Roboto', sans-serif;
		font-weight: 400;

		// font-size: 40px;
		font-size: 2vw;
		@media only screen and (max-width: 480px) { 
			font-size: 45px;
		}
	}

	.text div {
		font-size: 1.3vw;
		@media only screen and (max-width: 480px) {
			font-size: 17px;
		}
	}

	.text .button.fill-color {
		background-color: white;
		color: #4c6fe7;
	}
	.text .button {
		color: white;
		background-color: #4c6fe7;
	
		@media only screen and (max-width: 480px) {
	    	width: 140px;
    		padding: 10px;
    		margin-top: 20px;
    		font-size: 15px;
    	}
	}

	.text .preheading {
		padding: 10px 0;
	}

	.text-on-right {
		order: 1;
	}
	.text-on-right {
		@media only screen and (max-width: 480px) {	
			order: 0;
		}
	}
}
