---
---

.content {
	width: 80%;
	margin: 0 auto;
}

.callout {
	background-color: rgba(31,65,149,.2);
	margin: 40px 0;
	padding: 40px 0;
    border-radius: 5px;
}

@media only screen and (max-width: 480px) {
	.callout {
		display: block;
	}
	.image {
		text-align: center;
	}
	img {
		border-radius: 1000px;
		max-width: 50%;
    	height: auto;
    	width: auto;
	}
	h3 {
		text-align: center;
	}
	.text {
		margin: 0 20px;
	}
}

@media only screen and (min-width: 480px) {
.callout {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	align-items: flex-start;

	h3 {
		margin-top: 0;
	}
	.image {
		flex: 0 1 150px;
	}

	img {
		border-radius: 1000px;
		height:auto;
		width: 100%;
//		border-radius: 5px;
	}
	.text {
		flex: 1 1;
		text-align: justify;
	}

	div:first-child {
		margin: 0 40px;
	}
	div:last-child {
		margin-right: 40px;
	}

}
}
//@media only screen and (max-width: 400px) {
//	.callout {
//		background-color: rgb(255,0,0);	
//		img {
//			border: 1px solid black;
//			width: 50%;
//		}
//	}
//}


