---
---
.banner {
	z-index: 1;
	flex: 0;
	position: relative;

	width: 100%;
	padding-bottom: 34%; // ~height/width
}
#banner-image {
	z-index: 1;
	
	background-image: url("{{site.baseurl}}/assets/images/robot_bg3_gray_8bit.jpg");
	filter: sepia() hue-rotate(180deg) saturate(150%) brightness(40%);
	background-repeat:no-repeat;
	background-size:contain;
	width: 100%;
	padding-bottom: 35%; // ~height/width
	position: absolute; 

	@media only screen and (max-width: 480px) {
		padding-bottom: 40%; // ~height/width
		background-size:cover;
		background-position-x: -20px;
	}
}

#banner-text {
	width: 40%;
	z-index: 1;
	position: absolute;
	//transform: translate(10%, 15%);
	top: 25%;
	left: 5%;

	//.heading {
		//color: #aaa;
	//}

	#heading-a {
		color: #d5e9f6;
		z-index: 1;
		font-size: 3vw;
		font-weight: bold;		
		//position: absolute;
		//top: 30%;
	}
	#heading-b {
		color: #d5e9f6;
		z-index: 1;
		font-size: 1.5vw;
		font-weight: lighter;
		margin-top: 10px;
	}
}

a.button {
display: inline-block;
	text-decoration: none;
	margin-top: 3vw;
	//margin-right: 10px;
	border: none;
	//padding: 10px 20px;
	padding: 1.2vw;
	border-radius: 5px;
	font: inherit;	
	font-weight: bold;
	font-size: 1.2vw;
}
#learn {
	margin-right: 3vw;
	//padding: 11px 21px;
	padding: 1.5vw 1.5vw;
	color: #5b5b5b;
	background-color: #fada73;	
	
	&:hover {
		background-color: #fce8a6;
	}
}
#portfolio {
	padding: 1.5vw 1.5vw;
	color: #ccc;
	border: 1px solid #ccc;
	background-color: transparent;

	&:hover {
		color: #e6e6e6;
		border-color: #e6e6e6;
	}
}


// Mobile
@media only screen and (max-width: 480px) {
	.banner {
		padding-bottom: 40%; // ~height/width
	}

	#banner-text {
		top: 18%;
		left: 5%;
		#heading-a {
			font-size: 12px;
		}
	}
	#heading-b {
		display: none;
	}
	a.button {
		font-size: 0.5em;
		display: block;
		width: 50%;
		margin-top: 10px;
		text-align: center;
	}
}

.sub-header {
	color: white;
	background-color: #2d2d2d; 
	padding: 30px 0;

	.head1 {
		display: flex;
		justify-content: center;
		font-size: 40px;
		padding: 10px 0;
	}
	.head2 {
		display: flex;
		justify-content: center;
		padding: 10px 0;
		max-width: 50%;
		margin: 0 auto;
		text-align: center;
	}
	a {
		margin: 30px auto;
		width: 150px;
		display: flex;
		justify-content: center;
		// margin: 30px 0;
	}

	@media only screen and (max-width: 480px) { 
		padding: 25px;

		.head1 {
			text-align: center;
		}
		.head2 {
			max-width: initial;
		}
		a {
			padding: 10px;
			font-size: 15px;
		}
	}
}

.proven-tools {
	h2 {
		font-size: 55px;
		line-height: 1.2;
		margin: 30px 10px 0 10px;
		font-family: 'Yrsa',serif;
		font-weight: 400;
		text-align: center;		

	}

	.icons {
		display: grid;
		grid-gap: 10px;
		 grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		 width: 50%;
		 margin: 0 auto;
		 // grid-template-columns: repeat(auto-fit, 186px);
		// grid-auto-columns: 1fr;
		// grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		justify-items: center;
		padding: 30px 0;

		span {
			font-family: Roboto;
	    	font-weight: bold;
    		font-size: 20px;
		}
	}
}
@media only screen and (max-width: 480px) { 
	.proven-tools .icons {
		width: 100%;
	}

	.proven-tools h2 {
		font-size: 40px;
	}
}

section#hyperspectral {
	// @media only screen and (max-width: 480px) { 
	// 	h2 {
	// 		font-size: 45px;
	// 	}
	// }
// 	img {
// 			height: 250px;
// 		// }
// 	}
}