@font-face {
    font-family: 'GothicA1';
    src: url('../assets/fonts/GothicA1-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'GothicA1';
    src: url('../assets/fonts/GothicA1-Thin.ttf') format('truetype');
    font-weight: 100;
}

/* Set background color to black */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;    
}

header, footer {
    /* align contents in center  */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

header img {
    max-width: 100%;
    height: auto;
}
    

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Horizontally centers contents if there is extra space */
    align-items: center; /* Vertically centers contents */
}

.row-contents {
    width: 1140px;    
}
@media screen and (max-width: 768px) {
    .row-contents {
        width: 100%;
    }
   
}

.row-alternate-color {
    background-color: #141414;
    /* background-color: #727272; */
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Aligns text to the center */
    flex: 1;
    padding: 1em;
}

.row p {
    text-align: center;
    font-family: 'GothicA1', sans-serif;
    font-size: 27px;
    font-weight: 400;
}
@media screen and (max-width: 768px) {
    .row p {
        margin: 10px 20px 30px 20px;
        font-size: 20px;
    }
}


.row h3 {
    font-family: 'GothicA1', sans-serif;
    font-size: 55px;
    font-weight: 400;
    color: #CEBB8E;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .row h3 {
        margin: 0 20px;
        font-size: 30px;
    }
}


/* Responsive styles */
@media (max-width: 600px) {
    .col {
        flex-basis: 100%;
    }
}


.swiper {
    height: 300px;
    width: 100%;
    margin: 10px 0;
  }

.swiper-slide {
    display: inline-block;
    height: 100%;
    width: auto !important;
}

.swiper-slide img {
    height: 100%;
    width: auto;
}  


@media screen and (max-width: 768px) {
    .swiper {
        height: 100px;
        width: 100%;
    }

    .swiper-slide {
        display: inline-block;
        height: 100%;
        width: auto !important;
    }

    .swiper-slide img {
        height: 100%;
        width: auto;
    }  
}



/* For contact row */
.contact.row-contents {
    display: flex;
    justify-content: space-between; 
    width: 750px;
}

.contact p {
    color: #CEBB8E;
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 30px;
}


@media screen and (max-width: 768px) {
    .contact.row-contents {
        flex-direction: column;
        align-items: center; /* centers the items horizontally when stacked */
    }

    .contact .left, 
    .contact .right {
        width: 100%;  /* makes them occupy the full width */        
    }

    .contact p {
        font-size: 20px;
        justify-content: center;
    }
}



.contact p:hover {
    color: white;
}

.contact .col {
    flex: 1;
}

.contact .col p:not(:last-child) {
    border-bottom: 1px dotted #CEBB8E;
    padding-bottom: 10px;
}

a[href^="mailto:"] {
    color: #CEBB8E;
}
a[href^="mailto:"]:hover {
    color: white;
}
a[href^="tel:"] {
    color: #CEBB8E;
}
a[href^="tel:"]:hover {
    color: white;
}

.contact .icon {
    height: 35px;
    margin-right: 10px;
}

.contact iframe {
    max-height: 300px;
    max-width: 100%;
}

/* For contact row */
.social.row-contents {
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}
.social .icon {
    height: 50px;
    margin-right: 10px;
}

.film-styles {
    display: flex;
    flex-wrap: wrap;
}

.film-style {
    box-sizing: border-box;
    word-wrap: break-word;
    flex: 1 0 calc(50% - 10px);  /* Assuming you want a little space between the boxes */
    margin: 5px;
    /* No fixed height here, as the box will expand based on content */
    padding: 10px;  /* Optional: Add some padding for better spacing inside the box */
    text-align: center;
    font-size: 27px;
}
@media screen and (max-width: 768px) {  /* Adjust the breakpoint as necessary */
    .film-style {
        font-size: 20px;
    }
}

.film-style .heading {
    color: #CEBB8E;
    font-weight: bold;
}

@media screen and (max-width: 768px) {  /* Adjust the breakpoint as necessary */
    .film-style {
        flex: 1 0 100%;
    }
}

h1 {
    text-align: center;
    color: #CEBB8E;
}