<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">
	{% if page.css %}
		<link rel="stylesheet" href="{{page.css}}">
    {% endif %}

	{% if page.js %}
		<script src="{{page.js}}"></script>
    {% endif %}
  </head>
  <body>

	<!-- <div class="pre-header"></div> -->


	<header {% if page.transparent_nav==true %} class=transparent {% endif%}>
		<nav {% if page.transparent_nav==true %} class=transparent {% endif%}>
		<div class="nav-content">
			<a href="index.html" class="nav-left">
					<span id="Applied">Applied</span><span id="Photons">Photons</span>
			</a>
			<div class="nav-right">
				<ul class="navigation" role="navigation">
					<li><a href="{{site.baseurl}}/about.html">About</a></li>
					<li><a href="{{site.baseurl}}/portfolio.html">Portfolio</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#" id="contact-button">Contact</a></li>
				</ul>
			</div>
		</div>
		</nav>
	</header>


  	<div class="page-content">
    	{{ content }}
	</div>



	<footer>
		<div class="footer-content">
		Copyright © 2020 - Applied Photons LLC
		</div>
	</footer>


	<script>
	window.addEventListener('load', function() {
     	var scrollThresh = 80;
     	var classSelector = document.querySelector("nav").classList;
     	function navbar_shrink() {
     		if (document.documentElement.scrollTop > scrollThresh) { 
    			classSelector.add("shrink");
    		} else { 
    			classSelector.remove("shrink"); 
    		}
    	}
    
     	navbar_shrink();
    	window.onscroll = navbar_shrink;
    

	});
	</script>

  </body>
</html>
